@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var year = DateTime.Now.Year;
}
<footer class="py-4 bg-light mt-auto border-top">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">© @year SIMS</div>
            <div>
                <a href="#">Privacy</a>
                &middot;
                <a href="#">Terms</a>
            </div>
        </div>
    </div>
</footer>